### Read and save all FILENAMES

In [18]:
import os
fn_asm = os.listdir('./data')
fn_ans = os.listdir('./answer')

fn_asm

['2000111_NguyenVanAn_3B.jpg',
 '2000112_LePhanBinh_3B.jpg',
 '2000113_TranDan_3B.jpg',
 '2000114_PhanNhanHy_3B.jpg',
 '2000115_VoMinh_3B.jpg',
 '2000116_TrinhNgoMai_3B.jpg',
 '2000117_DinhThiHao_3B.jpg',
 '2000118_TranHao_3B.jpg',
 '2000119_LeDinhKhai_3B.jpg',
 '2000120_NgoVanLinh_3B.jpg']

### Split the filenames into columns (lists)

In [22]:
def split_name(fullname: str):
    position = []
    for i in range(len(fullname)):
        if fullname[i].isupper():
            position.append(i)
            
    sname = fullname[:position[1]]
    fname = fullname[position[-1]:]
    
    return sname, fname

In [24]:
StudentID, Surname, Firstname, Code = [], [], [], []

for asm in fn_asm:
    std_id = asm[:asm.index('_')]
    rem = asm[asm.index('_') + 1:]
    fullname = rem[:rem.index('_')]
    sname, fname = split_name(fullname)
    code = rem[rem.index('_') + 1 : rem.index('.')]
    
    StudentID.append(std_id)
    Code.append(code)
    Surname.append(sname)
    Firstname.append(fname)

### Save into a CSV file

In [30]:
import pandas as pd

stds_df = pd.DataFrame(columns = ['StudentID', 'Surname', 'Firstname', 'Code'])
stds_df['StudentID'] = StudentID
stds_df['Surname'] = Surname
stds_df['Firstname'] = Firstname
stds_df['Code'] = Code

student_df.to_csv('student.csv', index_label = False)

In [31]:
test = pd.read_csv('student.csv')

test

   StudentID Surname Firstname Code
0    2000111  Nguyen        An   3B
1    2000112      Le      Binh   3B
2    2000113    Tran       Dan   3B
3    2000114    Phan        Hy   3B
4    2000115      Vo      Minh   3B
5    2000116   Trinh       Mai   3B
6    2000117    Dinh       Hao   3B
7    2000118    Tran       Hao   3B
8    2000119      Le      Khai   3B
9    2000120     Ngo      Linh   3B